<ion-view view-title="Nutrientes">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/centrales">
        <img ng-src="img/nutrientes.png">
        <h2>Información Centrales Solares</h2>
        <p>Fuente: API Energía Abierta</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/charts">
        <img ng-src="img/nutrientes.png">
        <h2>Generación de energía por tipo de fuente</h2>
        <p>Fuente: CDEC SIC </p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/co2global">
        <img ng-src="img/nutrientes.png">
        <h2>Emisiones de CO2 Global per cápita</h2>
        <p>Fuente: API Worldbank</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/co2chile">
        <img ng-src="img/nutrientes.png">
        <h2>Emisiones de CO2 Chile per cápita</h2>
        <p>Fuente: API Worldbank</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/fotovoltaica">
        <img ng-src="img/nutrientes.png">
        <h2>Generación Fotovoltaica por ciudad</h2>
        <p>Fuente: Enlace Solar</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/glosario">
        <img ng-src="img/nutrientes.png">
        <h2>Glosario Solar</h2>
        <p>Fuente: ChileRenovables</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
