<ion-view view-title="Inicio">
  <ion-content class="padding">
    <h3>Proyecto ANTU</h3>
    <p>
    <img ng-src="img/antu.png">
    Antu es un proyecto de educación digital que nace de la necesidad de romper la barrera de conocimientos iniciales necesarios para el entendimiento y posterior uso de energías sustentables, principalmente energía solar.
    </p>
    <h4>Las plantas, nuestra inspiración</h4>
    <p>
      ¿Quién sabe más acerca de energía solar que las plantas?, hemos tomado como inspiración para nuestra App la sabiduría de las plantas, utilizando nombres acordes para sus secciones.
    </p>
    <h4>Secciones</h4>
    <p>
    <a href="#/tab/chats"><strong>Nutrientes</strong></a>: Entrega los indicadores básicos acerca de la energía solar,  definiciones y estadísticas.
    </p>
    <p>
      <a href="#/tab/account"><strong>Fotosíntesis</strong></a> : Utilizando lo aprendido en Nutrientes, te desafiamos a contestar preguntas de conocimiento energético.
    </p>
        <p>
      <a href="#/tab/social"><strong>Semilla</strong></a> : Ponemos también a disposición el acceso a noticias en Facebook y videos de Youtube de entidades relacionadas desde la misma aplicación.
    </p>
  </ion-content>
</ion-view>
